<div class="top-image"></div>
  <%# image %>
  <div class="py-5 about-image1">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>お金</h1>
      <p class="lead">100年生きて、お金は足りるのか？</p>
      <small>寿命が伸び続け「人生100年時代」という言葉も出てきました。
            そんな時代では考えなしに老後を迎えると、先に尽きるのは寿命ではなく、お金になります。
            「 思っていたより長生きする」と考え、余裕をもってお金を準備しておきたいものです。</small><br/>
            今から準備しましょう。まずは目標宣言です。
    </div>
  </section>

  <%# image %>
  <div class="py-5 about-image2">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>友達</h1>
      <p class="lead">仕事や家庭を理由に、疎遠になっていたりしませんか？</p>
      <small>なにげなく会って話をしたり、気軽に遊びに出かけたり。10代の頃は当たり前にそこにありました。時が過ぎ、色んな環境の変化とともに友人との関係が途切れてしまうこともあるでしょう。</small><br/>
      今から予定を立てましょう。お出かけしたら思い出を書き残すのに使ってください。
    </div>
  </section>

  <%# image %>
  <div class="py-5 about-image3">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>筋肉</h1>
      <p class="lead">健康に気を遣う。今のカラダは、当たり前にあるものではない。</p>
      <small>筋肉が無ければ、何をするにも一苦労。お金があっても使い道が限られる。
              大切な友達とも遊びに行きにくい。<br/>
              老後の弱ったカラダになってから鍛えようと思っても大変ですよね？</small><br/>
              今から鍛えましょう。日々の成果を発信しましょう。
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>