<div class="top-image"></div>
  <%# image %>
  <div class="py-5 about-image1">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>Section Heading</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

  <%# image %>
  <div class="py-5 about-image2">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>友達</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>

  <%# image %>
  <div class="py-5 about-image3">
    <div style="height: 200px;"></div>
  </div>

  <%# Content %>
  <section class="py-5">
    <div class="container">
      <h1>筋肉</h1>
      <p class="lead">健康に気を遣う。今のカラダは、当たり前にあるものではない。</p>
      <small>筋肉が無ければ、何をするにも一苦労。お金があっても使い道が限られる。
              大切な友達とも遊びに行きにくい。<br/>
              老後の弱ったカラダになってから気づいても遅い。</small>
              今から鍛えるのだ。
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>