<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<div class="jumbotron bg-success text-white">
  <h1 class="display-4">お金、 友達、 筋肉。</h1>
  <p class="lead">長生きのお供に。</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-light btn-lg" href="#" role="button">Learn more</a>
</div>
