/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "bootstrap";


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  a:link {color:black; text-decoration:none }
  a:visited { color:black; text-decoration:none }
  a:hover { color:black; text-decoration:none }
  a:active { color:black; text-decoration:none }
}
.btn {
  margin-bottom: 10px;
}
.btn-group-vertical{
  width: 100%;
}
.comment:hover{
  background-color: rgba(160, 160, 160, 0.309);
}
.fixed_btn{
  position: fixed;
  width: 60px;
  height: 60px;
  top: 30px;
  right: 10px;
  border-radius: 50%;
  z-index: 2
}
.logo {
  width:100%;
  max-width: 100%;
  height: auto;
}
.logo-mini {
  text-align: center;
  border-radius: 50%;
  border: 3px solid rgba(26, 189, 15, 0.5);
  margin: 10px 10px 10px 10px;
  max-width: 100%;
  height: auto;
}
.nav-font{
  color: #fff;
}
.nav-pills > li > a:hover{
  background-color: #fff;
}
.profile-image {
  text-align: center;
  margin: 20px;
  border-radius: 50%;
  border: 3px solid rgba(26, 189, 15, 0.5);
}
.profile-image-mini {
  text-align: center;
  border-radius: 50%;
  margin: 20px 10px 10px 20px;
}
.post-content{
  border-radius: 1%;
  border: 1px solid rgba(160, 160, 160, 0.309);
  margin-bottom: 2px;
}
.post-content:hover {
  background-color: rgba(160, 160, 160, 0.309);
}
.profile-area {
  margin: 20px;
}
.profile-name {
  font-size: 30px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-icon {
  margin-left: 20px;
}

.post-area {
  justify-content: space-between;
}
.post-image {
  justify-content: center;
  max-width: 100%;
  height: auto;
}
.post-name {
  font-size: 20px;
  margin: auto;
}
.post-date {
  margin: auto;
}
.post-text {
  padding: 0 30px;
}
.sidebar {
  position: sticky;
  top: 60px;
}
