/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "bootstrap";

 * {
   margin: 0px;
   padding: 0px;
   word-break: normal;
   }

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.about-image1 {
  background-image: image-url("money.jpg");
  background-size: cover;
}
.about-image2 {
  background-image: image-url("friend.jpg");
  background-size: cover;
  background-position: 30% 30%;
}
.about-image3 {
  background-image: image-url("muscle.jpg");
  background-size: cover;
  background-position: 30% 30%;
}
body {
  padding-top: 56px;
  a:link {color:black; text-decoration:none }
  a:visited { color:black; text-decoration:none }
  a:hover { color:black; text-decoration:none }
  a:active { color:black; text-decoration:none }
}
.bottom-area{
  margin: 40px;
}
.bg-image {
  position: fixed;
  height: 60%;
  width: 100%;
  bottom: -2%;
  left: -2%;
  background-image: image-url("top.jpg");
  background-size: cover;
  z-index: -1;
}
.btn {
  margin-bottom: 10px;
}
.btn-group-vertical{
  width: 100%;
}
.content-section {
  margin-top: 50px;
  height : 400px;
}
.comment:hover{
  background-color: rgba(176, 233, 188, 0.309);
}
.comment-user-img {
  width: 50px;
  height: 50px;
}
.edit-btn {
  text-align: right;
}
.fixed_btn{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  z-index: 2
}
.logo {
  width:100%;
  max-width: 100%;
  height: auto;
}
.logo-mini {
  text-align: center;
  border-radius: 50%;
  border: 3px solid rgba(26, 189, 15, 0.5);
  margin: 10px 10px 10px 10px;
  max-width: 100%;
  height: auto;
}
.main-content-color{
  background:rgba(255, 255, 255, 0.5);
  padding: 0px;
}
.nav-font{
  color: #fff;
}
.nav-pills > li > a:hover{
  background-color: #fff;
}
nav.pagination {
  display: none;
}
.pagination {
  page-break-after: 20px;
}
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
.post-area {
  justify-content: space-between;
}
.post-content{
  border-radius: 1%;
  border: 1px solid rgba(160, 160, 160, 0.309);
  margin-bottom: 2px;
}
.post-content:hover {
  background-color: rgba(176, 233, 188, 0.309);
}
.post-image {
  justify-content: center;
  max-width: 100%;
  height: auto;
}
.post-name {
  font-size: 20px;
  margin: auto;
}
.post-date {
  margin: auto;
}
.post-text {
  padding: 0 30px;
}
.profile-area {
  margin: 20px;
}
.profile-image {
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 20px;
  border-radius: 50%;
  border: 3px solid rgba(26, 189, 15, 0.5);
}
.profile-image-mini {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  margin: 20px 10px 10px 20px;
}
.profile-list:hover{
  background-color: rgba(176, 233, 188, 0.309);
}
.profile-name {
  font-size: 25px;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.profile-icon {
  margin-left: 20px;
}
.profile-outline {
  border-radius: 1%;
  border: 1px solid rgba(160, 160, 160, 0.309);
  margin-bottom: 10px;
}
section {
  background:rgba(255, 255, 255, 0.5);
  top: 100px;
}
.sidebar {
  position: sticky;
  top: 60px;
  background:rgba(255, 255, 255, 0.5);
}


// レスポンシブ対応（スマートフォン）
@media screen and (max-width: 780px) {
  body {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .comment-name {
    font-size: 7px;
  }
  .comment-user-img {
    width: 30px;
    height: 30px; 
  }
  .fixed_btn{
    bottom: 70px;
  }
  .navbar{
    background-color: #fff;
    margin: 0;
  }
  .sidebar {
    display: none;
  }
  .post-form {
    display: none;
  }
  .post-name {
    font-size: 15px;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .post-date {
    font-size: 5px;
  }
  .post-image {
    padding-left: 15px;
  }
  .profile-area{
    margin: 0px;
  }
  .profile-image {
    width: 50px;
    height: 50px;
    margin: 0px, auto;
  }
  .profile-image-mini {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
  }
  .profile-name {
    font-size: 15px;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
}
// レスポンシブ対応(PC)
@media screen and (min-width: 780px) {
  .navbar {
    display: none;
  }
}